footer {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #465E88;
}

.sug {
    font-family: Maven pro;
    font-size: 18px;
    color: white;
    padding-top: 10px;
}

.correo {
    font-family: Maven pro;
    font-size: 15px;
    color: white;
}