<header class="d-none d-sm-block">
    <img id="logo" src="../../../../assets/img/lucas.png" width="226px" height="80px" class="d-inline-block align-top d-none col-2 d-sm-block p-0">
    <div class="container">
        <h1 id="titulo" class="pl-5"> {{ this.servicio.titulo }}</h1>
    </div>

</header>