header {
    background-color: #465E88;
    width: 100%;
    height: 80px;
}

#logo {
    float: left;
}

#titulo {
    color: white;
    font-family: Maven pro;
    font-size: 45px;
    padding-top: 10px;
}

.container {
    margin-left: 200px;
    width: 700px;
}