.inf {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: Maven pro;
    font-size: 40px;
}

#arc {
    font-family: Maven pro;
    font-size: 20px;
}


/*archivo en imagen*/

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 30px;
    cursor: pointer;
}

#xls {
    width: 60px;
    height: 70px;
    opacity: 1;
}

#xls:hover {
    opacity: 0.7;
}

.boton {
    background-color: #465E88;
    text-align: center;
    font-size: 18px;
    border: 6px outset #2C4E8B;
    color: white;
    font-family: Maven pro;
    margin-left: 400px;
    margin-bottom: 30px;
}

.boton:hover {
    background-color: #73839E;
    opacity: 0.5;
    color: white;
}

#aviso {
    width: 500px;
    text-align: center;
    margin: auto;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal-header {
    max-height: 5px!important;
    border: initial!important;
}

.modal-title {
    font-family: Maven pro;
    font-size: 20px;
}