<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="fileInput.click()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h4 class="modal-title mx-auto mt-3" id="modal-basic-title">Bienvenido al convertidor de Lucasian Labs</h4>
    <div class="modal-body mx-auto p-2 ">
        <p>Convierte tus planillas de excel a txt</p>
    </div>
    <div class="modal-footer ">
    </div>
</ng-template>

<article class="container">
    <div class="inf">
        Convierte tus planillas aquí!!
    </div>


    <div id="arc" class="text-center">Selecciona el archivo</div>

    <div class="text-center m-5">
        <div class="image-upload">
            <label for="file-input">
                <img id="xls" src="../../../../assets/img/xls1.png" > 
            </label>
            <input #fileInput id="file-input" name="foto" type="file" (change)="fileuploads($event)" (click)="cerrarModal()" class="inputfile hidden-xs hidden-md" accept=".xls" />
            <label id="fichero" for="file-input">{{ fileName }}</label>
        </div>

    </div>

    <br><br>
    <br><br>


    <div id="aviso" *ngIf="comprobando">
        <div class="loader"></div><br>
        <div>!!Preparando el archivo¡¡</div>
    </div>

</article>