<article class="container">

    <p class="text-center my-5">Lucasian Labs es una compañía de capital intelectual que nació en el 2003, la cual brinda servicios especializados en consultoría, desarrollo y educación, focalizados en arquitectura, diseño, desarrollo y puesta en producción de proyectos J2EE para
        empresas del sector financiero, telecomunicaciones y gobierno. <br><br> Nuestra principal fortaleza está en la utilización práctica de técnicas de ingeniería de software, arquitectura y diseño para el desarrollo de aplicaciones empresariales de
        múltiples niveles, construidas con servicios distribuidos haciendo uso de estándares y herramientas ampliamente adoptadas en la industria de software. <br><br> Empresa con sedes en las ciudades de Cali(sede principal),Bogotá y Pereira <br><br>        Más información en el sitio web de la empresa: <br><br>
        <a href="http://www.lucasian.com/" target="_blank"> http://www.lucasian.com/</a>

    </p>
</article>