.menu {
    width: 200px;
    height: 480px;
    border-right: gray 1px solid;
    padding-top: 20px;
    float: left;
}

.selected {
    background-color: #F1793F;
    color: white;
    width: 200px;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav li {
    cursor: pointer;
    position: relative;
    font-family: Maven pro;
    font-size: 20px;
}

a:hover {
    color: black;
    font-family: Maven pro;
    text-decoration: none;
}