<!-- <aside class="menu">

    <a *ngFor="let M of menu">
        <ul class="menus">
            <li (click)="onselect(M)" [ngClass]="{'selected': M.name===selectedMenu.name}">{{ M.name }}</li>
        </ul>
    </a>

</aside> -->


<nav class="navbar navbar-active p-0 mt-5">
    <button class="navbar-toggler d-block d-md-none" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <ng-container *ngIf="isMenuCollapsed; else close">
                    <i class = "icon ion-md-menu"></i>  
            </ng-container>
            <ng-template #close>
                    <i class = "icon ion-md-close"></i>
            </ng-template>
            
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="nav flex-column" *ngFor="let M of menu">
            <li class="nav-item w-100">
                <a class="nav-link w-100 h-100" (click)=" onselect(M)" [ngClass]="{ 'selected': M.name===selectedMenu.name} ">{{ M.name }}</a>
            </li>
        </ul>
    </div>
</nav>