.inf {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: Maven pro;
    font-size: 40px;
}

#nombre {
    border: 0px;
    text-align: center;
    font-size: 30px;
}

#can {
    border-radius: 1em;
    color: white;
    border: none;
    margin-top: 20px;
}

button {
    background-color: #F1793F;
    box-shadow: 1px 2px 5px 3px #d4d4d4;
    width: 120px;
    height: 35px;
}

.arc {
    font-family: Maven pro;
    font-size: 20px;
    margin-top: 20px;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 30px;
    cursor: pointer;
}

#txt {
    width: 60px;
    height: 70px;
    opacity: 1;
}

#txt:hover {
    opacity: 0.7;
}


/*barra de carga*/

:host>>>.progress {
    height: 40px;
    overflow: initial!important;
    width: 400px;
    border: 1px inset #666;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

:host>>>.progress-bar {
    background-color: #465E88;
    border-color: #800040;
    border-radius: 20px;
    overflow: hidden;
}

span {
    font-weight: bold;
    font-size: 15px;
    color: white;
    font-family: Maven pro;
    line-height: 2.5em;
    margin-left: 10px;
}