<article class="container">

    <div class="row align-items-center justify-content-center">
        <div class="inf col-12">
            Convirtiendo tu archivo<br>
            <div id="nombre">{{ this.name }}</div>
        </div>

        <ngb-progressbar class="text-center col-12" [value]=" progressNumber"><span>{{ progressNumber }} %</span></ngb-progressbar>


        <hr class="col-md-10 col-xs-5">

        <div class="col-12 text-center">
            <button id="can" *ngIf="this.progressNumber !== 100" type="submit" (click)="confirmation()">Cancelar</button>
            <div class="arc" *ngIf="this.progressNumber === 100">Descarga el archivo</div>
            <a download *ngIf="this.progressNumber === 100" href="{{ this.ruta.file }}" target="_blank"> <img id="txt" src="../../../../assets/img/txt1.png"> </a>
        </div>

    </div>

</article>