.contenedor {
    margin: 2rem auto;
    border: 2px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    height: 385px;
    width: 100%;
    max-width: 80%;
    overflow: auto;
    box-shadow: 1px 5px 15px 3px #d4d4d4;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
}

.ti-tabla {
    background-color: #6C7688;
    color: white;
}

.subti-tabla {
    background-color: #A1A4AB;
    color: white;
}

.table td,
.table th {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table th {
    text-align: center;
    font-family: Maven pro;
}

table td {
    text-align: center;
}