<article class="contenedor">
    <table class="table">
        <thead>
            <tr class="ti-tabla">
                <th colspan="4">Archivos Descargados</th>
            </tr>
            <tr class="subti-tabla">
                <th scope="col">#</th>
                <th scope="col">Nombre del archivo</th>
                <th scope="col">Fecha de descarga</th>
                <th scope="col">Descargar txt</th>
            </tr>
        </thead>
        <tbody *ngFor="let archivo of descargas; let i=index">
            <tr>
                <th scope="row"> {{ i + 1 }} </th>
                <td> {{ archivo.nameArchivo }} </td>
                <td> {{ archivo.date }} </td>
                <td><a download href="{{ archivo.file }}" target="_blank"><i class = "icon ion-md-cloud-download" style="font-size: 25px; color: gray; "></i></a></td>
            </tr>
        </tbody>
    </table>
</article>