@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
* {
    font-family: Maven pro, sans-serif;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    font-family: Maven pro;
    text-decoration: none;
}

a:hover {
    color: black;
    font-family: Maven pro;
    text-decoration: none;
}

* {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

textarea:focus,
input:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

.mensaje {
    text-align: center;
    font-family: Maven pro;
    margin-top: 10px;
}

#cerrar {
    width: 100px;
    margin-left: 400px;
}